
/*.LinkTable#LinkTableByScopePlace th {
	width:16%;
}*/

.LinkTable#LinkTableByScopePlace th:first-child {
	width:20%;
}


/* todo replace with className */
/*table#LinkTableByScopePlace tbody td.selectable:first-child, table#LinkTableByScopePlace tbody tr:first-child td:not(:first-child)  {
	background: hsl(212, 100%, 96%);
	font-weight: bold;
}
table#LinkTableByScopePlace tbody td.selectable:first-child:hover, table#LinkTableByScopePlace tbody tr:first-child td:not(:first-child):hover  {
	background: hsl(212, 68%, 92%)!important;
}*/
#LinkTableByScopePlace tbody td.heading  {
	background: hsl(212, 37%, 78%);
	font-weight: bold;
}
#LinkTableByScopePlace td.selectable.heading:hover  {
	background: hsl(212, 53%, 70%)!important;
}
#LinkTableByScopePlace td.selectable {
	height: 100%;
}
#LinkTableByScopePlace tbody tr td.selectable > a:not(.ui) {
	margin: -2em 0;
  padding: 2.71428571em .71428571em;
}

#LinkTableByScopePlace td.positive {
	background: #c7f4ca!important;
}
#LinkTableByScopePlace td.positive:hover {
	background: #adebb1!important;
}
#LinkTableByScopePlace td.negative {
	background: #f4c9c7!important;
}
#LinkTableByScopePlace td.negative:hover {
	background: #eab5b2!important;
}
#LinkTableByScopePlace td.warning {
	background: #f4e2c7!important;
}
#LinkTableByScopePlace td.warning:hover {
	background: #edd0a5!important;
}

#LinkTableByScopePlace tbody td.focus,
#LinkTableByScopePlace tbody td.focus:hover,
#LinkTableByScopePlace  td.selectable.heading.focus:hover {
	background: #cfe5ff!important;
	background: #ffff9e!important;
	box-shadow: inset 0px 0px 3px 2px rgba(0,123,255,1);
	box-shadow: inset 0px 0px 3px 2px rgb(239, 220, 1);
}
#LinkTableByScopePlace a:focus {
	background: transparent;
}

#LinkTableByScopePlace span.data-none i {
	color:#eee;
}
#LinkTableByScopePlace span.data-none span {
	color:#eee;
}
#LinkTableByScopePlace span.data-selected i {
	color:#8b8b8b;
}
#LinkTableByScopePlace span.data-only i {
	color:#9a9a9a;
}