.a-loader-container, .a-loader-container * {
	box-sizing: border-box;
}
.a-loader-container {
	width: 2rem;
	height: 2rem;
	font-size: 2rem;
}
.a-loader-container.inline {
	position: relative;
}
.a-loader-container.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@keyframes a-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.a-loader-container i {
	width: 1em;
	height: 1em;

	position: absolute;
	transform-origin: 50% 50%;

	border-style: solid;
	border-width: 0.125em;
	border-color: transparent;
	border-radius: 999%;

	animation-name: a-loader;
	animation-duration: 1500ms;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
