@import './semantic.min.css';
@import './semantic.overwrite.css';
@import '../../../node_modules/react-select/dist/react-select.css';
@import './react-select.overwrite.css';


html {
  -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
  -moz-box-sizing: border-box; /* Needed for Firefox */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
  /*font-size:0;*/
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}


/* resets of reset to make SEUI work */
.ui td span {
	font-size: 14px;
	line-height: 1.4285em;
}
.icon, .icon:before, .icon:after {
	font-family: Icons;
}



/* ===== base & typography ===== */
/* 	base font 1.25 rem - 20px, line 30px
	grid: half line 15 px -> 1.875rem
	sizes increments: line third 10px -> .625rem
	(rarely 5px -> .3125rem)
*/

html, body, #app, #app > div, #content, .content {
  height: 100%;
  overflow: hidden;
}

html {
  font-size:100%;
}
body {
  background:#c0c0c0;
  line-height:1.5;
  color:#242424;
}

body, input, select {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

p, p a, span {
  font-size:1.125rem;
}
i, b, u {
  font-size: 100%;
}
p {
  max-width:40em; /* 50em at 1.25rem */
  margin-bottom:1.875rem; /* at 20px font */
}
a, a:link {
  color:#004eff;
}
a:visited {
  color:#0039bc;
}
a:hover, a:visited:hover {
  color:#2f6eff;
}
/*a:focus, */
#menu a:focus, #menu a.current:focus {
  background-color: #477abf;
  color:#fff;
	outline: none;
}
#menu a:focus:hover {
  background-color: #4c7fc4;
}
a, a:link, a i {
  transition:  all .3s ease-out;
}


h1, h2, h3, h4, h5 {

}
h1.fit-after, h2.fit-after,
h3.fit-after, h4.fit-after {
	margin-bottom:0;
}
h1, h1 span {
  font-size:3rem;
  line-height: 3.75rem;
  margin: 1.875rem 0;
}
h2, h2 span {
  font-size: 1.875rem;
  line-height: 2.8125rem;
  margin: .9375rem 0;
	margin-top: 1.875rem;
}
h3, h3 span {
  font-size: 1.25rem;
  line-height: 1.875rem;
}






/* ===== atoms ===== */

label.container {
	  display: block;
    margin-bottom: .9315rem;
}

.heading-sub {
	margin-bottom: 4rem;
}

.section-header {
	text-align: right;
	margin-top: 4rem;
	border-top: 1px solid rgba(80,80,80,.3);
	padding-top: 1rem;
	margin-bottom: 1rem;
}
.section-header h3 {
	float: left;
}

.isvg {
	display: inline-block;
}
.isvg.positive .line {
  fill:#505050;
}
.isvg.positive .first {
	fill:#bbb;
}
.isvg.positive .second {
/*	fill:#7d9ad0;*/
	fill:#95a5c3;
}

/* ===== layout ===== */

#menu {
  background-color: #222;
}
#menu ul li {
  list-style: none;
  display: inline-block;
  height: 3.75rem;
}
#menu ul li img, #menu ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}

#menu a, #menu a span {
  vertical-align: top;
}
#menu a {
  display: inline-block;
  height: 3.75rem;
  padding: .625rem;
  color: #aaa;
  font-size: 0;
}
#menu a:hover {
  background-color: #333;
  color:#fff;
}
#menu a:focus {
  color:#fff;
}

#menu a .line {
  fill:#999;
	transition:  fill .3s ease-out;
}
#menu a .first {
	fill:#222;
}
#menu a .second {
	fill:#354460;
}
#menu a:hover .line, #menu a:focus .line {
  fill:#ddd;
}
#menu a:hover .second, #menu a:focus .second {
  fill:#33447e;
}

#menu a span {
  display: inline-block;
  font-size: 1.0625rem;
  line-height: 2.5rem;
  margin:0 .625rem;
}




.screen {
  height: 100%;
/*  overflow: auto;*/
	overflow: hidden;
  position: absolute;

  background-color: #bababa;
}
.screen-scroll {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right: 0;
	overflow: auto;
}
.screen-setter {
	border-bottom: 1px solid #aaa;
	background: #ccc;
	/*box-shadow: inset 0px -10px 15px -10px rgba(0,0,0,0.2);/* nope */
}
.screen-setter > div {
	padding:.9375rem 1.875rem;
}
.screen-content > div{
  padding: 1.875rem;
  position: relative;
}


/* scrollbars
todo hex colours, button icons */
.screen-scroll::-webkit-scrollbar {
  width: .9375rem;
}
.screen-scroll::-webkit-scrollbar-button {
  height: .9375rem;
  background: rgba(0,0,0,.17);
}
.screen-scroll::-webkit-scrollbar-button:vertical:decrement {
  /* up */
  background-image: url(./triangle-up.svg);
  background-size: contain;
}
.screen-scroll::-webkit-scrollbar-button:vertical:increment {
  /* down */
  background-image: url(./triangle-down.svg);
  background-size: contain;
}
.screen-scroll::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
}
.screen-scroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.15);
}
.screen-scroll::-webkit-scrollbar-thumb:hover, .screen-scroll::-webkit-scrollbar-button:hover {
  background: rgba(60,30,0,.2);
}
.screen-scroll::-webkit-scrollbar-thumb:active, .screen-scroll::-webkit-scrollbar-button:active {
  background: rgba(40,35,20,.5);
}
.screen-scroll::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,.075);
}

.beside {
  position: absolute;
  left:52rem;
}


/* = responsive layouts = */

@media screen and (max-width:47.19999em) {
  #menu a span {
    display: none;
  }
}
@media screen and (max-width:65.99999em) {

  #menu {
    width: 100%;
    height:3.75rem;
  }
  #menu ul {
    width:200%;
  }
  #menu li:not(:last-child) {
    border-right: 1px solid #333;
    /*padding: 0 .3125rem;*/
  }

  #content {
    position: relative;
    height: calc(100% - 3.75rem);
  }
  .screen {
    width: 100%;
    left:0;
  }
  .screen:not(:first-child) {
    /*top:-3.75rem;
        height: calc(100% + 3.75rem);*/
    /* whole viewport overlay except base */
  }

}
@media screen and (min-width:66em) {

  body {

  }

  #menu {
    position: relative;
    z-index: 20;
    width: 3.75rem;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);

    transition: width .3s .2s ease-in-out, height .3s .5s ease-in-out;
    /* height added for responsive resizing */
  }
  #menu:hover, #menu.open {
    width: 17rem;
  }
  #menu:hover {
    transition-delay: 1.2s;
  }
  #menu.open {
    transition-delay: 0s;
  }
  #menu ul, #menu ul li, #menu a {
    width:22rem;
  }
  #menu li {
    border-bottom: 1px solid #333;
  }

  #content {
    position: absolute;
    z-index: 10;
    top:0;
    left:3.75rem;
    /*height: 100%;*/
    width: calc(100% - 3.75rem);
  }
  .content {
    display: flex;
    width: 100%;
    /*height: 100%;*/
  }

  .screen {
    position: relative;
    width: 5rem;
    overflow: hidden;

    box-shadow: -5px 0px 15px -5px rgba(0,0,0,0.6);

    transition: all .5s ease-in-out;
    transition-property: width, background-color, flex-grow;

		flex-grow: 0;
		flex-shrink: 0;


  }

	.screen-scroll {
		overflow: hidden;
		overflow-y: auto;
	}
	.screen-scroll > div,
	.screen:first-child > .screen-scroll {
		min-width: 50rem;
	}
	.screen-content > div,
	.screen-setter > div {
    width: 50rem;
  }


	/* .screen behaviour */
	.screen.retracted {
		width: 5rem;
	}

  .screen.open, .screen.opening {
		flex-grow: 1;
  }
	.screen.open:not(.disabled), 
	.screen.opening:not(.disabled) {
		width: 51rem;
  }

	.screen.const20 {
    max-width: 21rem;
  }
	.screen.const20.open,
	.screen.const20.opening  {
		width: 21rem;
  }
	.screen.const20 .screen-scroll {
		min-width: 21rem;
	}
	.screen.const20 .screen-content > div,
	.screen.const20 .screen-setter > div {
    width: 20rem;
  }

  .screen.const30 {
    max-width: 31rem;
  }
	.screen.const30.open,
	.screen.const30.opening {
		width: 31rem;
  }
	.screen.const30 .screen-scroll {
		min-width: 31rem;
	}
	.screen.const30 .screen-content > div,
	.screen.const30 .screen-setter > div {
    width: 30rem;
  }

	.screen.const40 {
    max-width: 41rem;
  }
	.screen.const40.open,
	.screen.const40.opening  {
		width: 41rem;
  }
	.screen.const40 .screen-scroll {
		min-width: 41rem;
	}
	.screen.const40 .screen-content > div,
	.screen.const40 .screen-setter > div {
    width: 40rem;
  }

	.screen.const50 {
    max-width: 51rem;
  }
	.screen.const50.open,
	.screen.const50.opening  {
		width: 51rem;
  }
	.screen.const50 .screen-scroll {
		min-width: 51rem;
	}
	.screen.const50 .screen-content > div,
	.screen.const50 .screen-setter > div {
    width: 50rem;
  }

	.screen.const60 {
    max-width: 61rem;
  }
	.screen.const60.open,
	.screen.const60.opening  {
		width: 61rem;
  }
	.screen.const60 .screen-scroll {
		min-width: 61rem;
	}
	.screen.const60 .screen-content > div,
	.screen.const60 .screen-setter > div {
    width: 60rem;
  }

	.screen.const70 {
    max-width: 71rem;
  }
	.screen.const70.open,
	.screen.const70.opening  {
		width: 71rem;
  }
	.screen.const70 .screen-scroll {
		min-width: 71rem;
	}
	.screen.const70 .screen-content > div,
	.screen.const70 .screen-setter > div {
    width: 70rem;
  }

	.screen.const80 {
    max-width: 81rem;
  }
	.screen.const80.open,
	.screen.const80.opening  {
		width: 81rem;
  }
	.screen.const80 .screen-scroll {
		min-width: 81rem;
	}
	.screen.const80 .screen-content > div,
	.screen.const80 .screen-setter > div {
    width: 80rem;
  }

	.screen.const90 {
    max-width: 91rem;
  }
	.screen.const90.open,
	.screen.const90.opening  {
		width: 91rem;
  }
	.screen.const90 .screen-scroll {
		min-width: 91rem;
	}
	.screen.const90 .screen-content > div,
	.screen.const90 .screen-setter > div {
    width: 90rem;
  }

	.screen.const100 {
    max-width: 101rem;
  }
	.screen.const100.open,
	.screen.const100.opening  {
		width: 101rem;
  }
	.screen.const100 .screen-scroll {
		min-width: 101rem;
	}
	.screen.const100 .screen-content > div,
	.screen.const100 .screen-setter > div {
    width: 100rem;
  }


	/* we'll see if it's any use */
/*
  .screen.limited.lim30 {
    max-width: 31rem;
  }
	.screen.limited.lim30 .screen-content > div,
	.screen.limited.lim30 .screen-setter > div {
    width: 30rem;
  }
	.screen.limited.lim40 {
    max-width: 41rem;
  }
	.screen.limited.lim40 .screen-content > div,
	.screen.limited.lim40 .screen-setter > div {
    width: 40rem;
  }
	.screen.limited.lim50 {
    max-width: 51rem;
  }
	.screen.limited.lim50 .screen-content > div,
	.screen.limited.lim50 .screen-setter > div {
    width: 50rem;
  }
*/

	.screen > .screen-overlay {
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: transparent;
		pointer-events: none;
		transition: all .3s ease-in-out;
	}
	.screen.disabled > .screen-overlay {
		background: rgba(120,120,120,.4);
		pointer-events: all;
		cursor: pointer;
	}
	.screen.disabled > .screen-overlay:hover {
		background: rgba(120,120,120,.3);
	}
  .screen.closed,
	.screen.closed.disabled {
    width:0;
  }
	.screen.retracted {
		width: 5rem;
	}
	.has-maximised .screen {
		width: 0;
	}
	.screen.maximised {
		width:100%;
	}
	.screen.maximised .screen-scroll {
		overflow: auto;
	}
}


@media screen and (max-width:74.99999em) {
  .beside.hide {
    display: none;
  }
}

/* .screen content space */
@media screen and (min-width:71em) {
  .screen.fill .screen-content > div,
	.screen.const50 .screen-setter > div  {
    width: 55rem;
  }
  .screen.fill .beside {
    left:57rem;
  }
}
@media screen and (min-width:76em) {
  .screen.fill .screen-content > div,
	.screen.fill .screen-setter > div  {
    width: 60rem;
  }
  .screen.fill .beside {
    left:62rem;
  }
}
@media screen and (min-width:81em) {
  .screen.fill .screen-content > div,
	.screen.fill .screen-setter > div  {
    width: 65rem;
  }
  .screen.fill .beside {
    left:67rem;
  }
}
@media screen and (min-width:86em) {
  .screen.fill .screen-content > div,
	.screen.fill .screen-setter > div  {
    width: 70rem;
  }
  .screen.fill .beside {
    left:72rem;
  }
}
@media screen and (min-width:91em) {
  .screen.fill .screen-content > div,
	.screen.fill .screen-setter > div  {
    width: 75rem;
  }
  .screen.fill .beside {
    left:77rem;
  }
}
@media screen and (min-width:96em) {
  .screen.fill .screen-content > div,
	.screen.fill .screen-setter > div  {
    width: 80rem;
  }
  .screen.fill .beside {
    left:82rem;
  }
}


/*
@media screen and (min-width:66em) {
	.screen.fill80 .screen-content > div,
	.screen.fill80 .screen-setter > div {
    width: 80rem;
  }
}
*/
/*
@media screen and
(min-width:66em) and
(max-width:93.49999em) {
*/
/*
	.screen.too.open,
	.screen.too.opening {
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	width: 100%;

		z-index: 30;
  }
	.screen.too.open .screen-scroll {
		overflow: auto;
	}
*/
/*}*/

/* ===== elements ===== */


.puma-item, a.puma-item {
	display: block;
	border-radius: .25rem;
	border: 2px solid #95A6C7;
	background: #ABBAD8;
	background: #B6BCC7;
	margin-bottom: .875rem;

	padding: 0 .5rem;
	color: #1452A2;

	position: relative;
}
.puma-item span {
	line-height: 1.875rem;
}
.puma-item:hover {
	border-color: #4d8aff;
}

.puma-item::after {
	content: "\f101";
	font-family: Icons;
	font-size: 1.25rem;
	display: block;
	position: absolute;
	right:.4rem;
	top:0;
/*	color: #6B90BF;*/
	color: #859FBF;
}

.puma-item.template {
/*	background: transparent;*/
	background: #bebebe;
}
.puma-item.add {
	border-style: dashed;
	border-color: #9c9c9c;
	color: #8e8e8e;
	background: transparent;
}
.puma-item.add:hover {
	border-color: #4d8aff;
	color: #797979;
}
.puma-item.add::after {
	color: #a2a2a2;
}

.puma-item.screen-opener {
	border-color: #ffff00;
	background: rgba(255, 255, 0, 0.2);
}
@keyframes puma-item-screen-opener {
	0% { right: .4rem; }
	50% { right: .2rem; }
	100% { right: .4rem; }
}
.puma-item.screen-opener::after {
	color: #ff0;
	animation-name: puma-item-screen-opener;
	animation-duration: 1s;
	animation-iteration-count: 3;
}


.note {
	color:#888;
}




.ui.button.puma-screen-button {
	padding-right: 2.5rem!important;
	padding-left: 1rem!important;
	transition: all .2s ease-in-out;
	position: relative;
}

.ui.button.puma-screen-button > .icon.puma, .ui.buttons.puma-screen-button > .button > .icon.puma {
	position: absolute;
	height: 100%;
	line-height: 1;
	text-align: center;
	margin: 0;
	box-shadow: -1px 0 0 0 transparent inset;
	top: 0;
	left: auto;
	right: 0;
	border-radius: 0;
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	box-shadow: 1px 0 0 0 transparent inset;
	background: transparent;
	font-size: 1.25rem;
	width: 1.5rem;
	color: rgba(0,0,0,.4);
}
.ui.button.puma-screen-button > .icon.puma::after,
.ui.button.puma-screen-button > .icon.puma::before, .ui.buttons.puma-screen-button > .button > .icon.puma::after,
.ui.buttons.puma-screen-button > .button > .icon.puma::before {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ui.basic.button.puma-screen-button.screen-opener {
	background: rgba(255, 255, 0, 0.2)!important;
	box-shadow: 0 0 0 1px #ff0 inset;
}
@keyframes puma-screen-button-screen-opener {
	0% { right: 0; }
	50% { right: .2rem; }
	100% { right: 0; }
}
.ui.button.puma-screen-button.screen-opener > .icon.puma {
	color: #ff0;
	animation-name: puma-screen-button-screen-opener;
	animation-duration: 1s;
	animation-iteration-count: 3;
}


/*
.ui.labeled.icon.button.puma-screen-button > .icon,
.ui.labeled.icon.buttons.puma-screen-button > .button > .icon {
	background: transparent;
	font-size: 1.25rem;
	width: 1.5rem;
	color: rgba(0,0,0,.4);
}
.ui[class*="right labeled"].icon.button.puma-screen-button {
	padding-right: 2.5rem!important;
	padding-left: 1rem!important;
	transition: all .2s ease-in-out;
}

.ui.basic.button.puma-screen-button.screen-opener {
	background: rgba(255, 255, 0, 0.2)!important;
	box-shadow: 0 0 0 1px #ff0 inset;
}
@keyframes puma-screen-button-screen-opener {
	0% { right: 0; }
	50% { right: .2rem; }
	100% { right: 0; }
}
.ui.labeled.icon.button.puma-screen-button.screen-opener > .icon {
	color: #ff0;
	animation-name: puma-screen-button-screen-opener;
	animation-duration: 1s;
	animation-iteration-count: 3;
}
*/


.note > .ui.basic.button,
.note > .ui.basic.buttons .button,
.note > .ui.basic.buttons,
.note > .ui.basic.icon.buttons .button,
.note > .ui.basic.icon.buttons{
	box-shadow: 0 0 0 1px rgba(34,36,38,.08) inset;
}
.note .button span,
.note .ui.labeled.icon.button.puma-screen-button .icon {
	color:#888;
}


.selector {

}
.selector.double > div.input:not(:first-child) {
	margin-top: .625rem;
}



.input-wrapper {
	display: flex;
	max-width: 50rem;
}
.input-wrapper > div {
	flex-shrink: 0;
	flex-grow: 1;
/*	max-width: calc(100% - 11rem);*/
}
.input-wrapper > div:nth-child(2) {
	flex-grow: 0;
	position: relative;

	width: 11rem;
}
.input-wrapper > div:nth-child(2) .button,
.input-wrapper > div:nth-child(2) .buttons {
	position: absolute;
	bottom:.9375rem;
	right:0;
}

.frame-input-wrapper {
	border: 1px solid #999;
	border-radius: .2rem;
	margin-bottom: 1.5rem;
	box-shadow: .05rem .05rem .2rem 0 rgba(0,0,0,.07);
	max-width: 50rem;
}
.frame-input-wrapper > label {
	padding: .875rem;
	margin: 0;
}
.frame-input-wrapper > label > .Select {
	margin-top: .5rem;
}
.frame-input-wrapper-info {
	border-top: 1px solid rgba(0,0,0,.08);
	padding: .5rem 1rem;
}

.UIObjectSelect-control {
	display: block;
	border-radius: .25rem;
	border: 2px dashed #9c9c9c;
	padding: 0;
	position: relative;
	color: #8e8e8e;
	cursor: text;
}
.Select.has-value:not(.Select--multi) > .UIObjectSelect-control {
	background: #B6BCC7;
	color: #1452A2;
	border-style: solid;
	border-color: #95A6C7;
}
.Select.has-value:not(.Select--multi) .Select-placeholder {
	color: #1452A2;
}
.Select--multi.has-value .UIObjectSelect .Select-input {
	margin: 0;
}
.UIObjectSelect-item {
	display: block;
	border-radius: .25rem;
	border: 2px solid #95A6C7;
	background: #ABBAD8;
	background: #B6BCC7;
	margin-bottom: .875rem;
	padding: 0;
	color: #1452A2;
	position: relative;
/*	cursor: pointer;*/

	padding-left: 2rem;
}
.UIObjectSelect.template .UIObjectSelect-item,
.Select.template.has-value:not(.Select--multi) > .UIObjectSelect-control{
/*	background: transparent;*/
	background: #bebebe;
}

.UIObjectSelect-control,
.UIObjectSelect-item {
	transition:  all .3s ease-out;

}
.UIObjectSelect-control:hover,
.UIObjectSelect-item:hover {
	border-color: #4d8aff;
}
.Select.has-value:not(.Select--multi) > .UIObjectSelect-control:hover {
	border-color: #4d8aff;
}
.UIObjectSelect-item-icon {
	position: absolute;
	top: 0;
	left: 0;

	width: 2rem;
	line-height: 1.875rem;

	cursor: pointer;
	border-radius: .25rem 0 0 .25rem;
	border-right: 1px solid #95A6C7;
	padding: 0;
	text-align: center;
}
.UIObjectSelect-item-icon:hover {
	background: rgba(255,255,255,.3);
}
.UIObjectSelect-item-a,
.UIObjectSelect-item-a:hover,
.UIObjectSelect-item span:not(.UIObjectSelect-item-icon) {
	font-size: 1.125rem;
	line-height: 1.875rem;
	display: block;
	padding-left: .5rem;
	color: #1452A2;
	border-radius: 0 .25rem .25rem 0;
}
.UIObjectSelect-item-a,
.UIObjectSelect-item-a:hover {
	cursor: pointer;
}
.UIObjectSelect-item-a:after,
.Select.has-value:not(.Select--multi) .UIObjectSelect-control > .Select-placeholder::after {
	content: "\F101";
	font-family: Icons;
	font-size: 20px;
	font-size: 1.25rem;
	display: block;
	position: absolute;
	right: 6px;
	right: .4rem;
	top: 0;
	/* color: #6B90BF; */
	color: #859FBF;
}
.Select:not(.has-value):not(.Select--multi) .UIObjectSelect-control::before,
.Select.Select--multi
.UIObjectSelect-control::before {
	content: "\F067";
	font-family: Icons;
	font-size: 1.125rem;
	display: block;
	position: absolute;
	left: .7rem;
	top: .07rem;
	line-height: 1.875rem;
	color: #919191;
	transition: all .3s ease-out;
}
.Select:not(.has-value):not(.Select--multi) .UIObjectSelect-control:hover::before,
.Select.Select--multi
.UIObjectSelect-control:hover::before {
	color: #797979;
}
.Select .UIObjectSelect-control .Select-input {
	position: relative;
	left: 2rem;
}

.UIObjectSelect .Select-placeholder,
.UIObjectSelect:not(.Select--multi) .UIObjectSelect-item-a {
	left: 2rem;
	padding-right: 0;
	height: 1.875rem;
	line-height: 1.875rem;
}
.UIObjectSelect:not(.Select--multi) .UIObjectSelect-item-a {
	width: calc(100% - 2rem);
	position: absolute;
}

.Select--multi.has-value .UIObjectSelect-control .Select-input {
	margin-left: 0;
}
.Select.has-value:not(.Select--multi) .UIObjectSelect-control > .Select-placeholder {

}
.UIObjectSelect.has-value:not(.Select--multi) .Select-input {
	pointer-events: none;
}
.Select .UIObjectSelect-control .Select-input {
	height: 1.875rem;
}
.UIObjectSelect-control .Select-input > input,
.UIObjectSelect-control .Select-placeholder,
.UIObjectSelect-control .Select-input > div {
	height: 1.875rem;
	line-height: 1.875rem;
}
.UIObjectSelect-control .Select-input > input,
.UIObjectSelect-control .Select-input > div {
	color: #222;
}
.UIObjectSelect.is-focused .UIObjectSelect-control,
.UIObjectSelect.is-focused .UIObjectSelect-control:hover,
.UIObjectSelect.is-focused.has-value:not(.Select--multi) > .UIObjectSelect-control {
	background: rgba(255,255,255,.4);
	border-style: solid;
	border-color: #4d8aff;
}

.rsc-header {
  height: 2.8125rem;
	line-height: 2.8125rem;
  margin: 0;
  padding: 0 .625rem;
  background: #949494;
  color: #eee;
	border-radius: .28571429rem .28571429rem 0 0;
}
.rsc-header:not(:first-child) {
	margin-top:3.75rem;
}
.row-select-config > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #888;
}
.row-select-config > div > * {
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
}
.rsc-row{
	border-top: 1px solid #888;
	width: 100%;
	/*height:1.875rem;*/
	padding:0 7.5rem 0 3.125rem;

	position: relative;
}
.rsc-row.expandable {
	padding-right:7.5rem;
}
.rsc-row::before {
	content: "";
	/*font-family: Icons;
	font-size: 1.25rem;*/
	font-size: .75rem;
	display: block;
	width:3.125rem;
	position: absolute;
	left: 0;
	top:50%;
	text-align:center;
	transform:translateY(-50%);
	color:#378437;
}
.rsc-row.active::before {
	content: "\f05d"; /* check circle outline */
	content: "Active";
}

.rsc-row > * {
	height:3.75rem;
	line-height: 3.6875rem;
}
.rsc-row.ui.radio.checkbox label {
	font-size:1.125rem;
	padding-left: 2.625rem;
}
.rsc-row.ui.radio.checkbox label span {
	font-size:1.125rem;
}
.rsc-row.ui.radio.checkbox label:before,
.rsc-row.ui.radio.checkbox label:after,
.rsc-row.ui.radio.checkbox input {
	top:calc(50% - 6.5px);
	left:.625rem;
}

.rsc-row .isvg svg {
	vertical-align: middle;
	width: 2.5rem;
	height: 2.5rem;
	margin-right: .5rem;
}

.rsc-btn-expand  {
	display: block;
	width:7.5rem;
	height: 3.75rem;
	position: absolute;
	right: 0;
	top:-3.75rem;
	padding-right: 1.875rem;
	line-height: 3.75rem;
	text-align: right;
}
.rsc-btn-expand b {
	display: block;
	width:1.875rem;
	height: 3.75rem;
	position: absolute;
	right: 0;
	top:.08rem;
	text-align: center;

	transition: all .2s ease-in-out;
}
.rsc-btn-expand b::after {
	/*content: "\f0d7";*/
	content: "\f107";
	font-family: Icons;
	font-size: 1.25rem;

}
.expanded .rsc-btn-expand b {
	/*content: "\f0d8";*/
	transform: rotate(180deg);
}

.rsc-expand {
	position: relative;
}
.rsc-expand > div {
	/*height: 0;
	overflow: hidden;*/
	display: none;
}
.rsc-row.expanded, .rsc-expand.expanded {
	background: #C5C7CC;
}
.rsc-row, .rsc-expand {
	transition: all .2s ease-in-out;
}
.rsc-expand.expanded > div {
	/*height: auto;*/
	display: block;
}
.rsc-expand > div > div {
	border-top: 1px dashed #999;
	padding:1.25rem 1.25rem;
}

.rsc-expand .ui.table thead tr th:first-child {
	width: 30%;
}
.rsc-expand .ui.table td:not(.header) {
	background: #ccc;
}

.rsc-controls {
	margin-top: 1rem;
/*	margin-left: .1rem;*/
	text-align: right;
}

/* ==== development === */

/* todo 1.25 margins */

span.todo {
	background: #f00;
	color:#fff;
	border: 2px dashed #ff0;
	padding:2px 4px;
	margin:1.875rem 0;
	display: inline-block;
}

#menu a.current {
  background: #444;
}
#menu a.current .line {
  fill: #ddd;
}

/* grid underlay */
/*

.screen, .screen-content > div {
	background: #aaa url("../img/grid6.png");
	background-attachment: scroll;
}

h1, h2, h3, h4, h5 {
	background: rgba(255,255,0,.3);
}/**/

