html {
  -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
  -moz-box-sizing: border-box; /* Needed for Firefox */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
  font-size:0;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* ===== base & typography ===== */
/* 	base font 1.25 rem - 20px, line 30px
	grid: half line 15 px -> 1.875rem
	sizes increments: line third 10px -> .625rem
	(rarely 5px -> .3125rem)
*/

html, body, #app, #app > div, #content, .content {
  height: 100%;
  overflow: hidden;
}

html {
  font-size:100%;
}
body {
  background:#DDD;
  font-family:Open Sans;
  line-height:1.5;
  color:#242424;
}

input, select {
  font-family:Open Sans;
}

p, p a, span {
  font-size:1.25rem;
}
i, b, u {
  font-size: 100%;
}
p {
  max-width:40em; /* 50em at 1.25rem */
  margin-bottom:1.875rem; /* at 20px font */
}
a, a:link {
  color:#004eff;
}
a:visited {
  color:#0039bc;
}
a:hover, a:visited:hover {
  color:#2f6eff;
}
a:focus, #menu a.current:focus {
  background-color: #477abf;
  color:#fff;
}
a, a:link, a i {
  transition:  all .3s ease-out;
}


h1, h2, h3, h4, h5 {

}
h1 {
  font-size:3rem;
  line-height: 3.75rem;
  margin: 1.875rem 0;
}
h2 {
  font-size: 1.875rem;
  line-height: 2.8125rem;
  margin: .9375rem 0;
}
h3 {
  font-size: 1.25rem;
  line-height: 1.875rem;
}






/* ===== atoms ===== */




/* ===== layout ===== */

#menu {
  background-color: #222;
  /*background-color: #444;*/
}
#menu ul li {
  list-style: none;
  display: inline-block;
  height: 3.75rem;
}
#menu ul li img, #menu ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}

#menu a, #menu a span {
  vertical-align: top;
}
#menu a {
  display: inline-block;
  height: 3.75rem;
  padding: .625rem;
  color: #aaa;
  font-size: 0;
}
#menu a:hover {
  background-color: #333;
  color:#fff;
}
#menu a:focus {
  color:#fff;
}
#menu a .line {
  transition:  fill .3s ease-out;
}
#menu a:hover .line, #menu a:focus .line {
  fill:#ddd;
}
#menu a:hover .second, #menu a:focus .second {
  fill:#33447e;
}
#menu a span {
  display: inline-block;
  font-size: 1rem;
  line-height: 2.5rem;
  margin:0 .625rem;
}




.screen {
  height: 100%;
  overflow: auto;
  position: absolute;

  background-color: #aaa;
}
.screen > div {
  margin:1.875rem 0;
  /*padding: 0 1.25rem;*/
  padding: 0 1.875rem;
  position: relative;
}


/* scrollbars
todo hex colours, button icons */
.screen::-webkit-scrollbar {
  width: .9375rem;
}
.screen::-webkit-scrollbar-button {
  height: .9375rem;
  background: rgba(0,0,0,.17);
}
.screen::-webkit-scrollbar-button:vertical:decrement {
  /* up */
  background-image: url(./triangle-up.svg);
  background-size: contain;
}
.screen::-webkit-scrollbar-button:vertical:increment {
  /* down */
  background-image: url(./triangle-down.svg);
  background-size: contain;
}
.screen::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
}
.screen::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.15);
}
.screen::-webkit-scrollbar-thumb:hover, .screen::-webkit-scrollbar-button:hover {
  background: rgba(60,30,0,.2);
}
.screen::-webkit-scrollbar-thumb:active, .screen::-webkit-scrollbar-button:active {
  background: rgba(40,35,20,.5);
}
.screen::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,.075);
}

.beside {
  position: absolute;
  left:52rem;
}


/* = responsive layouts = */

@media screen and (max-width:47.19999em) {
  #menu a span {
    display: none;
  }
}
@media screen and (max-width:65.99999em) {

  #menu {
    width: 100%;
    height:3.75rem;
  }
  #menu ul {
    width:200%;
  }
  #menu li:not(:last-child) {
    border-right: 1px solid #333;
    /*padding: 0 .3125rem;*/
  }

  #content {
    position: relative;
    height: calc(100% - 3.75rem);
  }
  .screen {
    width: 100%;
    left:0;
  }
  .screen:not(:first-child) {
    /*top:-3.75rem;
        height: calc(100% + 3.75rem);*/
    /* whole viewport overlay except base */
  }

}
@media screen and (min-width:66em) {

  body {

  }

  #menu {
    position: relative;
    z-index: 20;
    width: 3.75rem;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);

    transition: width .3s .2s ease-in-out, height .3s .5s ease-in-out;
    /* height added for responsive resizing */
  }
  #menu:hover, #menu.open {
    width: 17rem;
  }
  #menu:hover {
    transition-delay: .7s;
  }
  #menu.open {
    transition-delay: 0s;
  }
  #menu ul, #menu ul li, #menu a {
    width:22rem;
  }
  #menu li {
    border-bottom: 1px solid #333;
  }

  #content {
    position: absolute;
    z-index: 10;
    top:0;
    left:3.75rem;
    /*height: 100%;*/
    width: calc(100% - 3.75rem);
  }
  .content {
    display: flex;
    width: 100%;
    /*height: 100%;*/
  }

  .screen {
    position: relative;
    width: 5rem;
    overflow: hidden;

    box-shadow: -5px 0px 15px -5px rgba(0,0,0,0.7);

    transition: all .5s ease-in-out;
    transition-property: flex-grow, background-color, width;

    flex-grow: 0.0000001;
  }

  .screen > div {
    width: 50rem;
  }


  .screen.limited.lim30 {
    max-width: 31rem;
  }
  .screen.limited.lim30 > div {
    width: 30rem;
  }


  /* .screen behaviour */
  .screen.open, .screen.opening {
    flex-grow: 1;
    /*margin-right: .675rem;*/
    /* move scrollbar from shadow - unused with custom scrollbars */
  }
  .screen.open {
    overflow-y: auto;
    /* overflow-x blocked (only here, at large screen sizes), only hides elements that count on it (.beside) */
  }
  .screen:last-child {
    margin-right: 0;
    /* cancel move scrollbar  - unused! */
  }
  .screen.retracted {
    background-color: #888;
  }
  .screen.retracted:hover {
    background-color: #939393;
  }
  /* todo elements inside */
  /*.screen.retracted > div {
        position: relative;
    }
    .screen.retracted > div::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background: rgba(0,0,0,.4);
        transition: all .3s ease-in-out;
    }
    .screen.retracted:hover > div::after {
        background: rgba(0,0,0,.33);
    }*/
  .screen.closed {
    width:0;
  }

}

@media screen and (max-width:74.99999em) {
  .beside.hide {
    display: none;
  }
}

/* .screen content space */
@media screen and (min-width:71em) {
  .screen.wide > div {
    width: 55rem;
  }
  .screen.wide .beside {
    left:57rem;
  }
}
@media screen and (min-width:76em) {
  .screen.wide > div {
    width: 60rem;
  }
  .screen.wide .beside {
    left:62rem;
  }
}
@media screen and (min-width:81em) {
  .screen.wide > div {
    width: 65rem;
  }
  .screen.wide .beside {
    left:67rem;
  }
}
@media screen and (min-width:86em) {
  .screen.wide > div {
    width: 70rem;
  }
  .screen.wide .beside {
    left:72rem;
  }
}
@media screen and (min-width:91em) {
  .screen.wide > div {
    width: 75rem;
  }
  .screen.wide .beside {
    left:77rem;
  }
}
@media screen and (min-width:96em) {
  .screen.wide > div {
    width: 80rem;
  }
  .screen.wide .beside {
    left:82rem;
  }
}



/* ===== elements ===== */


/* ==== development === */

/* todo 1.25 margins */


#menu a.current {
  background: #444;
}
#menu a.current .line {
  fill: #ddd;
}

/* grid underlay */
/*

.screen, .screen > div {
	background: #aaa url("../img/grid6.png");
	background-attachment: scroll;
}

h1, h2, h3, h4, h5 {
	background: rgba(255,255,0,.3);
}/**/

