@import './semantic.min.css';
@import './semantic.overwrite.css';
@import '../../../node_modules/react-select/dist/react-select.css';
@import './react-select.overwrite.css';


html {
  -webkit-box-sizing: border-box; /* Needed for mobile WebKit */
  -moz-box-sizing: border-box; /* Needed for Firefox */
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
  /*font-size:0;*/
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}


/* resets of reset to make SEUI work */
.ui td span {
	font-size: 14px;
	line-height: 1.4285em;
}
.icon, .icon:before, .icon:after {
	font-family: Icons;
}



/* ===== base & typography ===== */
/* 	base font 1.25 rem - 20px, line 30px
	grid: half line 15 px -> 1.875rem
	sizes increments: line third 10px -> .625rem
	(rarely 5px -> .3125rem)
*/

html, body, #app, #app > div, #content, .content {
  height: 100%;
  overflow: hidden;
}

html {
  font-size:100%;
}
body {
  background:#c0c0c0;
  line-height:1.5;
  color:#242424;
}

body, input, select {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

p, p a, span {
  font-size:1.125rem;
}
i, b, u {
  font-size: 100%;
}
p {
  max-width:40em; /* 50em at 1.25rem */
  margin-bottom:1.875rem; /* at 20px font */
}
a, a:link {
  color:#004eff;
}
a:visited {
  color:#0039bc;
}
a:hover, a:visited:hover {
  color:#2f6eff;
}
/*a:focus, */
#menu a.current:focus {
  background-color: #477abf;
  color:#fff;
	outline: none;
}
#menu a:focus:hover {
  background-color: #4c7fc4;
}
a, a:link, a i {
  transition:  all .3s ease-out;
}


h1, h2, h3, h4, h5 {

}
h1, h1 span {
  font-size:3rem;
  line-height: 3.75rem;
  margin: 1.875rem 0;
}
h2, h2 span {
  font-size: 1.875rem;
  line-height: 2.8125rem;
  margin: .9375rem 0;
}
h3, h3 span {
  font-size: 1.25rem;
  line-height: 1.875rem;
}






/* ===== atoms ===== */

label.container {
	  display: block;
    margin-bottom: .9315rem;
}

/* ===== layout ===== */

#menu {
  background-color: #222;
}
#menu ul li {
  list-style: none;
  display: inline-block;
  height: 3.75rem;
}
#menu ul li img, #menu ul li svg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0;
}

#menu a, #menu a span {
  vertical-align: top;
}
#menu a {
  display: inline-block;
  height: 3.75rem;
  padding: .625rem;
  color: #aaa;
  font-size: 0;
}
#menu a:hover {
  background-color: #333;
  color:#fff;
}
#menu a:focus {
  color:#fff;
}
#menu a .line {
  transition:  fill .3s ease-out;
}
#menu a:hover .line, #menu a:focus .line {
  fill:#ddd;
}
#menu a:hover .second, #menu a:focus .second {
  fill:#33447e;
}
#menu a span {
  display: inline-block;
  font-size: 1.0625rem;
  line-height: 2.5rem;
  margin:0 .625rem;
}




.screen {
  height: 100%;
  overflow: auto;
  position: absolute;

  background-color: #bababa;
}
.screen-setter {
	border-bottom: 1px solid #aaa;
	background: #ccc;
	/*box-shadow: inset 0px -10px 15px -10px rgba(0,0,0,0.2);/* nope */
}
.screen-setter > div {
	padding:.9375rem 1.875rem;
}
.screen-content > div{
  padding: 1.875rem;
  position: relative;
}


/* scrollbars
todo hex colours, button icons */
.screen::-webkit-scrollbar {
  width: .9375rem;
}
.screen::-webkit-scrollbar-button {
  height: .9375rem;
  background: rgba(0,0,0,.17);
}
.screen::-webkit-scrollbar-button:vertical:decrement {
  /* up */
  background-image: url(./triangle-up.svg);
  background-size: contain;
}
.screen::-webkit-scrollbar-button:vertical:increment {
  /* down */
  background-image: url(./triangle-down.svg);
  background-size: contain;
}
.screen::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);
}
.screen::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.15);
}
.screen::-webkit-scrollbar-thumb:hover, .screen::-webkit-scrollbar-button:hover {
  background: rgba(60,30,0,.2);
}
.screen::-webkit-scrollbar-thumb:active, .screen::-webkit-scrollbar-button:active {
  background: rgba(40,35,20,.5);
}
.screen::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,.075);
}

.beside {
  position: absolute;
  left:52rem;
}


/* = responsive layouts = */

@media screen and (max-width:47.19999em) {
  #menu a span {
    display: none;
  }
}
@media screen and (max-width:65.99999em) {

  #menu {
    width: 100%;
    height:3.75rem;
  }
  #menu ul {
    width:200%;
  }
  #menu li:not(:last-child) {
    border-right: 1px solid #333;
    /*padding: 0 .3125rem;*/
  }

  #content {
    position: relative;
    height: calc(100% - 3.75rem);
  }
  .screen {
    width: 100%;
    left:0;
  }
  .screen:not(:first-child) {
    /*top:-3.75rem;
        height: calc(100% + 3.75rem);*/
    /* whole viewport overlay except base */
  }

}
@media screen and (min-width:66em) {

  body {

  }

  #menu {
    position: relative;
    z-index: 20;
    width: 3.75rem;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.7);

    transition: width .3s .2s ease-in-out, height .3s .5s ease-in-out;
    /* height added for responsive resizing */
  }
  #menu:hover, #menu.open {
    width: 17rem;
  }
  #menu:hover {
    transition-delay: 1.2s;
  }
  #menu.open {
    transition-delay: 0s;
  }
  #menu ul, #menu ul li, #menu a {
    width:22rem;
  }
  #menu li {
    border-bottom: 1px solid #333;
  }

  #content {
    position: absolute;
    z-index: 10;
    top:0;
    left:3.75rem;
    /*height: 100%;*/
    width: calc(100% - 3.75rem);
  }
  .content {
    display: flex;
    width: 100%;
    /*height: 100%;*/
  }

  .screen {
    position: relative;
    width: 5rem;
    overflow: hidden;

    box-shadow: -5px 0px 15px -5px rgba(0,0,0,0.6);

    transition: all .5s ease-in-out;
    transition-property: flex-grow, background-color, width;

    flex-grow: 0.0000001;
  }

	.screen > div {
		min-width: 50rem;
	}
	.screen-content > div,
	.screen-setter > div {
    width: 50rem;
  }


  .screen.limited.lim30 {
    max-width: 31rem;
  }
  .screen.limited.lim30 .screen > div {
    min-width: 30rem;
  }
	.screen.limited.lim30 .screen-content > div,
	.screen.limited.lim30 .screen-setter > div {
    width: 30rem;
  }
	.screen.limited.lim40 {
    max-width: 41rem;
  }
  .screen.limited.lim40 .screen > div {
    min-width: 40rem;
  }
	.screen.limited.lim40 .screen-content > div,
	.screen.limited.lim40 .screen-setter > div {
    width: 40rem;
  }
	.screen.limited.lim50 {
    max-width: 51rem;
  }
  .screen.limited.lim50 .screen > div {
    min-width: 50rem;
  }
	.screen.limited.lim50 .screen-content > div,
	.screen.limited.lim50 .screen-setter > div {
    width: 50rem;
  }
	


  /* .screen behaviour */
  .screen.open, .screen.opening {
    flex-grow: 1;
    /*margin-right: .675rem;*/
    /* move scrollbar from shadow - unused with custom scrollbars */
  }
  .screen.open {
    overflow-y: auto;
    /* overflow-x blocked (only here, at large screen sizes), only hides elements that count on it (.beside) */
  }
  .screen:last-child {
    margin-right: 0;
    /* cancel move scrollbar  - unused! */
  }
  .screen.retracted {
    background-color: #9f9f9f;
  }
  .screen.retracted:hover {
    background-color: #a8a8a8;
  }
  /* todo elements inside */
  /*.screen.retracted > div {
        position: relative;
    }
    .screen.retracted > div::after {
        content: "";
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background: rgba(0,0,0,.4);
        transition: all .3s ease-in-out;
    }
    .screen.retracted:hover > div::after {
        background: rgba(0,0,0,.33);
    }*/
  .screen.closed {
    width:0;
  }

}

@media screen and (max-width:74.99999em) {
  .beside.hide {
    display: none;
  }
}

/* .screen content space */
@media screen and (min-width:71em) {
  .screen.wide > div {
    width: 55rem;
  }
  .screen.wide .beside {
    left:57rem;
  }
}
@media screen and (min-width:76em) {
  .screen.wide > div {
    width: 60rem;
  }
  .screen.wide .beside {
    left:62rem;
  }
}
@media screen and (min-width:81em) {
  .screen.wide > div {
    width: 65rem;
  }
  .screen.wide .beside {
    left:67rem;
  }
}
@media screen and (min-width:86em) {
  .screen.wide > div {
    width: 70rem;
  }
  .screen.wide .beside {
    left:72rem;
  }
}
@media screen and (min-width:91em) {
  .screen.wide > div {
    width: 75rem;
  }
  .screen.wide .beside {
    left:77rem;
  }
}
@media screen and (min-width:96em) {
  .screen.wide > div {
    width: 80rem;
  }
  .screen.wide .beside {
    left:82rem;
  }
}



/* ===== elements ===== */

.selector {
	
}
.selector.double > div.input:not(:first-child) {
	margin-top: .625rem;
}


.rsc-header {
  height: 2.8125rem;
	line-height: 2.8125rem;
  margin: 0;
  padding: 0 .625rem;
  background: #949494;
  color: #eee;
}
.rsc-header:not(:first-child) {
	margin-top:3.75rem;
}
.row-select-config > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	border-bottom: 1px solid #888;
}
.row-select-config > div > * {
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
}
.rsc-row{
	border-top: 1px solid #888;
	width: 100%;
	/*height:1.875rem;*/
	padding:0 7.5rem 0 3.125rem;
	
	position: relative;
}
.rsc-row.expandable {
	padding-right:7.5rem;
}
.rsc-row::before {
	content: "";
	/*font-family: Icons;
	font-size: 1.25rem;*/
	font-size: .75rem;
	display: block;
	width:3.125rem;
	position: absolute;
	left: 0;
	top:50%;
	text-align:center;
	transform:translateY(-50%);
	color:#378437;
}
.rsc-row.active::before {
	content: "\f05d"; /* check circle outline */
	content: "Active";
}

.rsc-row > * {
	height:3.75rem;
	line-height: 3.75rem;
}
.rsc-row.ui.radio.checkbox label {
	font-size:1.125rem;
	padding-left: 2.625rem;
}
.rsc-row.ui.radio.checkbox label span {
	font-size:1.125rem;
}
.rsc-row.ui.radio.checkbox label:before, 
.rsc-row.ui.radio.checkbox label:after, 
.rsc-row.ui.radio.checkbox input {
	top:calc(50% - 7.5px);
	left:.625rem;
}

.rsc-btn-expand  {
	display: block;
	width:7.5rem;
	height: 3.75rem;
	position: absolute;
	right: 0;
	top:-3.75rem;
	padding-right: 1.875rem;
	line-height: 3.75rem;
	text-align: right;
}
.rsc-btn-expand b {
	display: block;
	width:1.875rem;
	height: 3.75rem;
	position: absolute;
	right: 0;
	top:.08rem;
	text-align: center;
	
	transition: all .2s ease-in-out;
}
.rsc-btn-expand b::after {
	content: "\f0d7";
	font-family: Icons;
	font-size: 1.25rem;

}
.expanded .rsc-btn-expand b {
	/*content: "\f0d8";*/
	transform: rotate(180deg);
}

.rsc-expand {
	position: relative;
}
.rsc-expand > div {
	/*height: 0;
	overflow: hidden;*/
	display: none;
}
.rsc-row.expanded, .rsc-expand.expanded {
	background: #C5C7CC;
}
.rsc-row, .rsc-expand {
	transition: all .2s ease-in-out;
}
.rsc-expand.expanded > div {
	/*height: auto;*/
	display: block;
}
.rsc-expand > div > div {
	border-top: 1px dashed #999;
	padding:1.25rem 1.25rem;
}

.rsc-expand .ui.table thead tr th:first-child {
	width: 30%;
}
.rsc-expand .ui.table td:not(.header) {
	background: #ccc;
}

/* ==== development === */

/* todo 1.25 margins */

span.todo {
	background: #f00;
	color:#fff;
	border: 2px dashed #ff0;
	padding:2px 4px;
	margin:1.875rem 0;
	display: inline-block;
}

#menu a.current {
  background: #444;
}
#menu a.current .line {
  fill: #ddd;
}

/* grid underlay */
/*

.screen, .screen-content > div {
	background: #aaa url("../img/grid6.png");
	background-attachment: scroll;
}

h1, h2, h3, h4, h5 {
	background: rgba(255,255,0,.3);
}/**/

