.Select-control {
	border-color: #999;
	background: #f1f1f1;
	
	transition: all .5s ease-in-out;
}

.Select-control:hover, .Select-control:focus {
	box-shadow: 0 0 .3rem .15rem rgba(4, 110, 255, 0.6);
}

.Select-input {
	padding:0;
}
.Select-input > input, .Select-placeholder, .Select-input > div {
	font-size: 1.125rem;
	padding: .03rem .625rem;
}
.has-value > .Select-control > .Select-placeholder {
	color: #022393;
/*	background: #d1e4ff;*/
}

.is-focused > .Select-control {
  border-color: #999;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}

.Select-item {
	line-height: 1.5rem;
	height: 1.875rem;
	
	margin-top:0;
	vertical-align: middle;
	
	color: #022393;
	background: #d3e5ff;
}
.ui td.resetui span.Select-item {
	line-height: 1.5rem;
}
.Select-item, .Select-item-icon {
	border-color: #bed4ef;
}