.Select-control {
	border-color: #999;
	/*background: #f1f1f1;*/
	background: rgba(255,255,255,.2);
	
	transition: box-shadow .5s ease-in-out;
}

.Select-control:hover, .Select-control:focus {
	box-shadow: 0 0 .3rem .15rem rgba(4, 110, 255, 0.6);
}

.Select-input {
	padding:0;
}
.Select-input > input, .Select-placeholder, .Select-input > div {
	font-size: 1.125rem;
	padding: .03rem .625rem;
	padding-right: 2.5rem;
	cursor: text;
}
.has-value > .Select-control > .Select-placeholder {
	color: #022393;
/*	background: #d1e4ff;*/
}

.is-focused > .Select-control {
  border-color: #999;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 136, 204, 0.5);
}
.Select-arrow {
	border-color: #7D7D7D transparent transparent;
}
.Select-item {
	line-height: 1.5rem;
	height: 1.875rem;
	
	margin-top:0;
	vertical-align: middle;
	
	color: #022393;
/*	background: #d3e5ff;*/
	background: rgba(200,230,255,.3);
}
.ui td.resetui span.Select-item {
	line-height: 1.5rem;
}
.Select-item, .Select-item-icon {
/*	border-color: #bed4ef;*/
	border-color: rgba(1, 104, 222, 0.22);
}
.Select--multi .Select-input {
	margin-left: 0;
}


.Select-option.is-focused {
	background: #d3e7ff;
}