.ui.table {
	background: transparent;
	border-radius: .28571429rem .28571429rem 0 0;
}

.ui.table thead th, .ui.table td.header {
	background: #a6a6a6;
	font-weight: bold;
}

.ui.table.fixed td.allowOverflow {
	overflow: visible;
}

.ui td.resetui span {
	font-size: 1.125rem;
	line-height: 1.5;
}


/* todo merge heading + header */
.ui.table.LinkTable tbody td.selectable.heading  {
	background: hsl(212, 37%, 78%);
	font-weight: bold;
}
.ui.table.LinkTable td.selectable.heading:hover  {
	background: hsl(212, 53%, 70%)!important;
}
.ui.table.LinkTable td.selectable {
	height: 100%;
	position: relative;
}
.ui.table.LinkTable tbody tr td.selectable > a:not(.ui) {
	margin: -2em 0;
  padding: 2.71428571em .71428571em;
	padding-right: 1.3rem;
}

.ui.table.LinkTable td.selectable.positive {
	background: #c7f4ca!important;
}
.ui.table.LinkTable td.selectable.positive:hover {
	background: #adebb1!important;
}
.ui.table.LinkTable td.selectable.negative {
	background: #f4c9c7!important;
}
.ui.table.LinkTable td.selectable.negative:hover {
	background: #eab5b2!important;
}
.ui.table.LinkTable td.selectable.warning {
	background: #f4e2c7!important;
}
.ui.table.LinkTable td.selectable.warning:hover {
	background: #edd0a5!important;
}

.ui.table.LinkTable tbody td.selectable.focus,
.ui.table.LinkTable tbody td.selectable.focus:hover,
.ui.table.LinkTable  td.selectable.heading.focus:hover {
	background: #cfe5ff!important;
	background: #ffff9e!important;
	box-shadow: inset 0px 0px 3px 2px rgba(0,123,255,1);
	box-shadow: inset 0px 0px 3px 2px rgb(239, 220, 1);
}
td.selectable::after {
	content: "\f101";
	font-family: Icons;
	font-weight: 400;
	font-size: 1.25rem;
	display: block;
	position: absolute;
	right:.3rem;
	top:50%;
	transform: translateY(-50%);
	pointer-events: none;
	
	color: rgba(40,40,40,.2);
}
td.selectable.heading::after {
	color: #96ACC7;
}
td.selectable.positive::after {
	color: #96DE84;
}
td.selectable.negative::after {
	color: #E49A9A;
}
td.selectable.warning::after {
	color: #E8C796;
}

@keyframes puma-td-selected {
	0% { right: .3rem; }
	50% { right: .5rem; }
	100% { right: .3rem; }
}
td.selectable.focus::after {
	color: #c3c300;
	animation-name: puma-item-selected;
	animation-duration: 1s;
	animation-iteration-count: 3;
}

.ui.table.LinkTable a:focus {
	background: transparent;
	outline: none;
}

.ui.table.LinkTable span.data-none i {
	color:#eee;
}
.ui.table.LinkTable span.data-none span {
	color:#eee;
}
.ui.table.LinkTable span.data-selected i {
	color:#8b8b8b;
}
.ui.table.LinkTable span.data-only i {
	color:#9a9a9a;
}



.ui.button, .ui.buttons .button {
	/*font-size: .875rem;*/
	line-height: .875rem;
	padding: .625rem;
}
.ui.icon.button, .ui.icon.buttons .button {
	padding: .625rem;
}


.ui.buttons {
	box-shadow: none;
	border: 1px solid #222426;
	border: 1px solid rgba(34,36,38,.15);
	border-radius: .28571429rem;
}
.ui.buttons .button {
	border-radius: 0;
	border-left: 1px solid rgba(34,36,38,.15);
	box-shadow: none;
}
/*
.ui.buttons .button:first-child {
	border-left: none;
	margin-left: 0;
	border-top-left-radius: .28571429rem;
	border-bottom-left-radius: .28571429rem;
}
*/

.ui.button,
.ui.buttons .button,
.ui.buttons,
.ui.icon.buttons .button,
.ui.icon.buttons{
	border-color:#999;
	background: #f1f1f1;
}


.ui.basic.button,
.ui.basic.buttons .button,
.ui.basic.buttons,
.ui.basic.icon.buttons .button,
.ui.basic.icon.buttons{
	border-color:rgba(59, 59, 59, 0.29)!important;
	background: transparent!important;
}
.ui.basic.button:focus, 
.ui.basic.button:hover, 
.ui.basic.buttons .button:focus, 
.ui.basic.buttons .button:hover {
    background: rgba(255, 255, 255, 0.1)!important;
}


.button:hover, .button:focus {
	box-shadow: 0 0 .3rem .15rem rgba(4, 110, 255, 0.6);
}

/*
.ui.basic.button:focus, 
.ui.basic.button:hover, 
.ui.basic.buttons .button:focus, 
.ui.basic.buttons .button:hover {
	background: #e0ecff;
}
*/
.ui.button:focus, 
.ui.button:hover, 
.ui.buttons .button:focus, 
.ui.buttons .button:hover {
	background: #e0ecff;
}


.ui.checkbox label::before{
	border: 1px solid #888;
	transition: all .5s ease-in-out;
}
.ui.checkbox label:hover::before,
.ui.checkbox.focus {
	border: 1px solid #06f;
	box-shadow: 0 0 .3rem .15rem rgba(4, 110, 255, 0.6);
}

.ui.checkbox label {
	transition: all .5s ease-in-out;
}
.ui.checkbox label:hover {
	color: #0043c3;
}


.ui.input {
	width: 100%;
	border: 1px solid;
	border-color: #999;
	height: 36px;
}
.ui.input, .ui.input input {
	background: #f1f1f1;
	border-radius: 4px;
}
.ui.input input {
	border: 0;
	font-size: 1.125rem;
	padding: .03rem .625rem;
	line-height: 34px;
}

/*
.ui.input input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .4)
}

.ui.input input::-moz-placeholder {
	color: rgba(0, 0, 0, .4)
}

.ui.input input::-ms-input-placeholder {
	color: rgba(0, 0, 0, .4)
}

.ui.disabled.input,
.ui.input input[disabled] {
	opacity: .45
}

.ui.disabled.input input {
	pointer-events: none
}

.ui.input input:active,
.ui.input.down input {
	border-color: rgba(0, 0, 0, .3);
	background: #FAFAFA;
	color: rgba(0, 0, 0, .87);
	box-shadow: none
}

.ui.input input:focus,
.ui.input.focus input {
	border-color: #85B7D9;
	background: #FFF;
	color: rgba(0, 0, 0, .8);
	box-shadow: none
}
*/
.ui.input input:focus::-webkit-input-placeholder,
.ui.input.focus input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .2)
}

.ui.input input:focus::-moz-placeholder,
.ui.input.focus input::-moz-placeholder {
	color: rgba(0, 0, 0, .2)
}

.ui.input input:focus::-ms-input-placeholder,
.ui.input.focus input::-ms-input-placeholder {
	color: rgba(0, 0, 0, .2)
}
/*
.ui.input.error input {
	background-color: #FFF6F6;
	border-color: #E0B4B4;
	color: #9F3A38;
	box-shadow: none
}

.ui.input.error input::-webkit-input-placeholder {
	color: #e7bdbc
}

.ui.input.error input::-moz-placeholder {
	color: #e7bdbc
}

.ui.input.error input::-ms-input-placeholder {
	color: #e7bdbc
}
*/
.ui.input.error input:focus::-webkit-input-placeholder {
	color: #efd6d6
}

.ui.input.error input:focus::-moz-placeholder {
	color: #efd6d6
}

.ui.input.error input:focus::-ms-input-placeholder {
	color: #efd6d6
}
/*
.ui.transparent.inverted.input input::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .5)
}

.ui.transparent.inverted.input input::-moz-placeholder {
	color: rgba(255, 255, 255, .5)
}

.ui.transparent.inverted.input input::-ms-input-placeholder {
	color: rgba(255, 255, 255, .5)
}

.ui.form::-webkit-input-placeholder {
	color: rgba(140, 140, 140, .87)
}

.ui.form::-ms-input-placeholder {
	color: rgba(140, 140, 140, .87)
}

.ui.form::-moz-placeholder {
	color: rgba(140, 140, 140, .87)
}
*/
.ui.form:focus::-webkit-input-placeholder {
	color: rgba(89, 89, 89, .3)
}

.ui.form:focus::-ms-input-placeholder {
	color: rgba(89, 89, 89, .3)
}

.ui.form:focus::-moz-placeholder {
	color: rgba(89, 89, 89, .3)
}
/*
.ui.form .error::-webkit-input-placeholder {
	color: #e7bdbc
}

.ui.form .error::-ms-input-placeholder {
	color: #e7bdbc
}

.ui.form .error::-moz-placeholder {
	color: #e7bdbc
}
*/
.ui.form .error:focus::-webkit-input-placeholder {
	color: #efd6d6
}

.ui.form .error:focus::-ms-input-placeholder {
	color: #efd6d6
}

.ui.form .error:focus::-moz-placeholder {
	color: #efd6d6
}
/*
.ui.form input:not([type]):focus,
.ui.form input[type=text]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus,
.ui.form input[type=number]:focus {
	color: rgba(0, 0, 0, .95);
	border-color: #85B7D9;
	border-radius: .28571429rem;
	background: #FFF;
	box-shadow: 0 0 0 0 rgba(34, 36, 38, .35) inset
}

.ui.embed>.placeholder {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: radial-gradient(transparent 45%, rgba(0, 0, 0, .3))
}

.ui.embed>.icon {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2
}

.ui.embed>.icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	content: '';
	background: -webkit-radial-gradient(transparent 45%, rgba(0, 0, 0, .3));
	background: radial-gradient(transparent 45%, rgba(0, 0, 0, .3));
	opacity: .5;
	-webkit-transition: opacity .5s ease;
	transition: opacity .5s ease
}

.ui.embed>.icon:before {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	color: #FFF;
	font-size: 6rem;
	text-shadow: 0 2px 10px rgba(34, 36, 38, .2);
	-webkit-transition: opacity .5s ease, color .5s ease;
	transition: opacity .5s ease, color .5s ease;
	z-index: 10
}

.ui.embed .icon:hover:after {
	background: -webkit-radial-gradient(transparent 45%, rgba(0, 0, 0, .3));
	background: radial-gradient(transparent 45%, rgba(0, 0, 0, .3));
	opacity: 1
}

.ui.embed .icon:hover:before {
	color: #FFF
}

.ui.active.embed>.icon,
.ui.active.embed>.placeholder {
	display: none
}
*/


.ui.smaller.vertical.menu {
	width: 10.5rem;
}
.ui.vertical.tabular.menu {
	/*border: 1px solid rgba(34,36,38,.1);*/
	border-right: 1px solid #888;
}
.ui.vertical.tabular.menu .item {
	padding-left: 1rem;
}
.ui.vertical.tabular.menu .item:hover {
	color: #0043c3;
	background: rgba(138, 178, 255, 0.23);
}
.ui.vertical.tabular.menu .active.item {
	background: #bbb;
	color: #fff;
	border-color: #888;
	font-weight: 400;
	
	/*margin-left: .3rem;
	padding-left: .7rem;*/
}
.ui.vertical.tabular.menu .header.item {
	border-top: 1px solid rgba(34,36,38,.1);
	color: #444;
	background: #b6b6b6;
}

