.dataLayerTypeSelect {
	margin: 0 0 1.875rem 0;
}
.config-controls {
	margin-top: 2rem;
}
.data-layers-no-type {
	padding-top:2rem;
	text-align: center;
	font-size: 1rem;
	color: #999;
}

#ConfigDataLayerAnalyticalColumnTable thead tr th:first-child,
#ConfigDataLayerVectorColumnTable thead tr th:first-child {
	width:22rem;
}
#ConfigDataLayerAnalyticalColumnTable thead tr th:nth-child(3),
#ConfigDataLayerVectorColumnTable thead tr th:nth-child(3) {
	width:11rem;
}
