.screen-controls {
	position: absolute;
}
.screen-controls.top {
	top: .8rem;
	top: 1.25rem
}
.screen-controls.middle {
	top:50%;
	transform: translateY(-50%);
}
.screen-controls,
.screen-controls .ui.basic.buttons {
	width: 1.5rem;
	border-radius: 0 .2rem .2rem 0;
	border-left:0;
}
.screen-controls .ui.vertical.buttons .button {
	padding-left: .1rem;
	border-left:0;
}
.screen-controls .ui.vertical.buttons .button:first-child {
	border-radius: 0 .2rem 0 0;
}
.screen-controls .ui.vertical.buttons .button:last-child {
	border-radius: 0 0 .2rem 0;
}
.screen-controls .ui.basic.icon.buttons .button, .screen-controls .ui.basic.icon.buttons {
	border-color: rgba(82, 82, 82, 0.13)!important;
	background: transparent!important;
	color: rgba(82,82,82,0.6)!important;
}

.screen:first-child .screen-controls {
	display: none;
}

.screen-controls i.chevron.right {
	padding-left: .1rem;

}
.screen-controls .ui.button>.icon:not(.button) {
	transition: transform .2s .2s ease-in-out;
}
.screen.disabled .screen-controls i.chevron.right {
	transform: rotate(180deg);
}
