@import '../../../node_modules/normalize.css/normalize.css';

/*! React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

/*
 * Base styles
 * ========================================================================== */

html {
  color: #222;
  font-weight: 100;
  font-size: 1em; /* ~16px; */
  font-family: var(--font-family-base);
  line-height: 1.375; /* ~22px */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*
 * Browser upgrade prompt
 * ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
 * Print styles
 * Inlined to avoid the additional HTTP request:
 * http://www.phpied.com/delay-loading-your-print-css/
 * ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}




@font-face {
  font-family: 'pticon';
  src:url('../App/fonts/pticon.eot?qz5h9b');
  src:url('../App/fonts/pticon.eot?qz5h9b#iefix') format('embedded-opentype'),
  url('../App/fonts/pticon.ttf?qz5h9b') format('truetype'),
  url('../App/fonts/pticon.woff?qz5h9b') format('woff'),
  url('../App/fonts/pticon.svg?qz5h9b#pticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.pticon {
  font-family: 'pticon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pticon-times:before {
  content: "\e900";
}
.pticon-tick:before {
  content: "\e901";
}
.pticon-plus:before {
  content: "\e902";
}
.pticon-minus:before {
  content: "\e903";
}
.pticon-equals:before {
  content: "\e904";
}
.pticon-divide:before {
  content: "\e905";
}
.pticon-chevron-right:before {
  content: "\e911";
}
.pticon-chevron-left:before {
  content: "\e912";
}
.pticon-arrow-right-thick:before {
  content: "\e906";
}
.pticon-arrow-left-thick:before {
  content: "\e907";
}
.pticon-arrow-forward:before {
  content: "\e908";
}
.pticon-arrow-back:before {
  content: "\e909";
}
.pticon-arrow-up-thick:before {
  content: "\e913";
}
.pticon-arrow-down-thick:before {
  content: "\e914";
}
.pticon-delete:before {
  content: "\e90a";
}
.pticon-cancel:before {
  content: "\e90b";
}
.pticon-refresh:before {
  content: "\e90c";
}
.pticon-input-checked:before {
  content: "\e90d";
}
.pticon-trash:before {
  content: "\e90e";
}
.pticon-duplicate:before {
  content: "\e90f";
}
.pticon-edit:before {
  content: "\e910";
}

